.App{
    width: 100vw;
    height: 100vh;
    
  
}
@media  (min-width:290px) and (max-width:556px) {

    .tables{
       max-width:90% !important;
       min-width: 60% !important;
        font-size: 0.8rem !important;

    }
    
}
